<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Snow Signup form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" th:href="@{/css/registry-style.css}" type="text/css" media="all" />
</head>

<body>
	<!-- Signup form -->
	<section class="w3l-signup">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="registry.html">Library</a>
				</div>
				<div class="form-section">
					<h3>Sign up</h3>
					<form th:action="@{/registry}" method="post" class="signin-form" >
						<div class="form-input">
							<input type="text" name="name" placeholder="Username" required="" autofocus>
						</div>
						<div class="form-input">
							<input type="password" name="password" placeholder="Password" required="" autofocus>
						</div>
						<div class="form-input">
							<input type="password" name="confirmPassword" placeholder="ConfirmPassword" required="">
						</div>
						<button type="submit" class="btn btn-primary theme-button mt-4">Sign Up</button>
					</form><p class="signup">Already a customer? <a th:href="@{/login}" class="signuplink">Login now</a></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<!-- copyright -->
		<div class="copy-right">
			<p>&copy; 2020 Snow Signup Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
		</div>
		<!-- //copyright -->
	</section>

	<!-- /Signup form -->
</body>

</html>